In [68]:
import pandas as pd

# Задание 1

In [15]:
csv_data = r'c:\Users\petrenkovn\Dropbox\DS-22\Data_Files\ml-latest-small\ratings.csv'

dataset = pd.read_csv( csv_data )

def classify_movie( rating ):
    """
    Функция классифицирует фильмы по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг
    """
    if rating <=2:
        rank = 'низкий рейтинг'
    elif rating <=4:
        rank = 'средний рейтинг'
    else:
        rank = 'высокий рейтинг'
    
    return rank

# результат записывается в столбец class
dataset['class'] = dataset['rating'].apply(classify_movie)

# проверка результатов работы функции - агрегация до class и rating
dataset[['class','rating','movieId']].groupby(['class','rating']).count()

                        movieId
class           rating
высокий рейтинг 4.5        8551
                5.0       13211
низкий рейтинг  0.5        1370
                1.0        2811
                1.5        1791
                2.0        7551
средний рейтинг 2.5        5550
                3.0       20047
                3.5       13136
                4.0       26818

# Задание 2

In [20]:
import re

In [71]:
csv_data = r'c:\Users\petrenkovn\Dropbox\DS-22\Data_Files\keywords.csv'

dataset = pd.read_csv( csv_data )

dataset

                       keyword     shows
0                           вк  64292779
1                одноклассники  63810309
2                        порно  41747114
3                         ютуб  39995567
4                    вконтакте  21014195
...                        ...       ...
99995   эльдорадо старый оскол      3705
99996      frigate для firefox      3630
99997                   укрсиб      3630
99998  погода в ялте на неделю      3688
99999                     ггму      3630

[100000 rows x 2 columns]

In [78]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

# подготовка обратного словаря Город-Регион и списка всех городов, разделенного |
geo_dict = {}
cities_regex = ''
for item in geo_data.items():
    for city in item[1]:
        geo_dict[city] = item[0]
        if len(cities_regex) > 0:
            cities_regex += '|' + city
        else:
            cities_regex = city
# print(geo_dict, cities)
            
def region_by_city( text ):
    """
    Функция выполняет задачу геоклассификации - в передаваемой текстовой строке выполняет поиск Города из ранее указанного словаря, и в случае если он найден - возвращает Регион
    """
    # используется поиск с помощью регулярных выражений
    result = re.findall( cities_regex, text )
    if len(result) > 0:
        city = result[0]
    else:
        city = None
    
    region = geo_dict.get(city, 'undefined')   
    return region

# применение функции к ряду датафрейма, запись в отдельный столбец
dataset['region'] = dataset['keyword'].apply( region_by_city )

# проверка корректности поиска
dataset[ dataset['region'] != 'undefined' ].head()

                        keyword   shows          region
127                авито москва  979292           Центр
370    авито ру санкт петербург  425134    Северо-Запад
564   погода в санкт петербурге  292489    Северо-Запад
849             авито ярославль  209581           Центр
1063        фарпост владивосток  176951  Дальний Восток